.input-container {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  input {
    padding: 8px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 8px 12px;
    border: none;
    background-color: #b8bfc7;
    color: rgb(14, 13, 13);
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }